@model MovieDto

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div id="detailsImg" class="col-md-4 animate-box">
                <img src="@Model.Poster" />

                <ul id="detailsList">
                    <li><p>Likes: @Html.DisplayFor(item => Model.numberOfLikes) </p></li>
                    <li><p>Dislikes: @Html.DisplayFor(item => Model.numberOfDislikes)</p></li>
                </ul>
                <ul id="detailsList">
                    <li><a class="icon-thumbs-up"></a></li>
                    <li><a class="icon-thumbs-down"></a></li>
                </ul>
            </div>
            <div id="detailsUpper" class="col-md-5 col-md-push-1 animate-box">

                <div>
                    <h2>Spirited Away</h2>
                    <p><span style="font-weight: bold;">During her family&#x27;s move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts.:</span> 1983</p>
                    <p><span style="font-weight: bold;">Runtime:</span> 2h 34m</p>
                    <p><span style="font-weight: bold;">Genre:</span> Action</p>
                    <p><span style="font-weight: bold;">Actors:</span> 1983</p>
                    <p><span style="font-weight: bold;">Director:</span> John Doe</p>
                </div>

                <!--<div class="gtco-contact-info">
                    <h3>Australia Office</h3>
                    <ul>
                        <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li class="url"><a href="http://FreeHTML5.co">FreeHTML5.co</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div id="detailsLower" class="row">
            <div class="animate-box">
                <p><span style="font-weight: bold;">Released:</span> 1983</p>
                <p><span style="font-weight: bold;">Runtime:</span> 2h 34m</p>
                <p><span style="font-weight: bold;">Genre:</span> Action</p>
                <p><span style="font-weight: bold;">Actors:</span> 1983</p>
                <p><span style="font-weight: bold;">Director:</span> John Doe</p>
            </div>

        </div>

    </div>
</div>

<div id="gtco-subscribe">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Här ska en extra sökruta finnas</h2>
                <p>Sök efter en film</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="col-md-4 col-sm-4" style="width:66.6666%;">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="search" placeholder="Movie title...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button type="submit" class="btn btn-default btn-block">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>;
