@model MoviesViewModel
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-4 animate-box" style="width:300px;">
                <img src="" />
            </div>
            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="col-md-4">
                    @foreach (var movie in Model.movies)
                    {
                        <h2>@movie.Title</h2>
                        <p><pan style="font-weight: bold;">@movie.Plot:</pan> 1983</p>
                    }
                </div>
          
            </div>
        </div>
       
        </div>

    </div>
</div>