@model MoviesViewModel

<div class="gtco-section">
    <div class="gtco-container" id="searchResultContaint">
      
        @foreach (var movie in Model.movies)
        {
            <div class="col-md-4 animate-box" id="searchResultBoxes">
                <img src="@movie.Poster" onerror="this.src='/images/missingimage.jpg'"/>
                <blockquote><b>@movie.Title (@movie.Year)</b></blockquote>
                <a asp-action="Index" asp-controller="Details" asp-route-id="@movie.ImdbID">
                    <button class="btn btn-primary btn-outline" type="submit">
                        More
                    </button>
                </a>
            </div>
        }
    </div>
    </div>
       